body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  display: grid;
  grid-template-columns: repeat( 4, 150px);
  grid-template-rows: repeat(2, 150px);
  gap:20px;
}

.carte{
 perspective: 1000px;
 background-color: transparent;
}

article{
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.carte.actif article{
 transform: rotateY(180deg);
}

.carte-recto , .carte-verso{
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 150px;
  height: 150px;
  border:2px solid black;
  border-radius: 5px;
  background: red;
}

.carte-verso{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  background: white;
  transform: rotateY(180deg);
}

.text-center{
  text-align: center;
}

button{
  margin: 20px 0;
  border:2px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: all .7s;
}

button:hover{
  background: red;
  color : white;
}



